@model List<LibraryAutomation.Models.Book>

@{
    ViewData["Title"] = "Mevcut Kitaplar";
}

<h2>Mevcut Kitaplar</h2>

<a asp-action="MyLoans" class="btn btn-success mb-2">Kitap Geçmişim</a>

<table class="table">
    <thead>
        <tr>
            <th>Kitap Adı</th>
            <th>Yazar</th>
            <th>Stok (Mevcut)</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            var availableCopies = book.Copies.Where(c => !c.IsBorrowed).ToList();
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@availableCopies.Count</td>
                <td>
                    @if (availableCopies.Any())
                    {
                        <form asp-controller="Member" asp-action="BorrowBook" method="post">
                            <input type="hidden" name="bookId" value="@book.Id" />

                            <div class="form-group">
                                <select name="copyId" class="form-control">
                                    @foreach (var copy in availableCopies)
                                    {
                                        <option value="@copy.Id">@copy.PhysicalLocation</option>
                                    }
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary btn-sm mt-1">Kirala</button>
                        </form>
                    }
                    else
                    {
                        <span class="text-danger">Stokta yok</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
